#list-bootstrap-icon
{
  color: #000000;
}

#list-button
{
  height: 40px;
  width: 40px;
  background-color: #D7D8D9;
  border-color: #000000;
  margin-left: 20px;
}

.header-style{
  margin-left: 10px;
}

.mat-sidenav-container{
  width: 300px;
}

.centerElement{
  margin-left: 20vh;
  margin-top: 5vh;
  margin-right: 20vh;
}


.nextItem{
  margin-top: 30px;
}
